.logo{
    width:180px;
    display:block;
    margin:20px auto;
}

.gameImage{
    width:700px;
    max-width:100%;
    display:block;
    margin:auto;
    border-radius:10px;
}

.gallery{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin:20px 0;
}

.gallery img{
    width:300px;
    max-width:100%;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
}

.shop{
    text-align:center;
}

.item{
    display:inline-block;
    width:280px;
    margin:20px;
    padding:20px;
    border:1px solid #ddd;
    border-radius:10px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.itemImage{
    width:180px;
    max-width:100%;
    border-radius:10px;
}
