body{

margin:0;

font-family:sans-serif;

background:#202020;

color:white;

text-align:center;

}


header{

background:#333;

padding:40px;

}


.logo{

width:150px;

height:auto;

}



section{

padding:40px;

margin:20px;

}



.gameImage{

width:600px;

max-width:90%;

border-radius:20px;

}



button{

padding:15px 40px;

margin:10px;

font-size:18px;

border-radius:10px;

cursor:pointer;

}



button:hover{

background:#00aaff;

color:white;

}



footer{

background:#333;

padding:20px;

}
