* {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family:
        Arial,
        "Noto Sans JP",
        sans-serif;

    background: #f5f5f5;

    color: #333;
}


header {
    background: #e60012;

    color: white;

    text-align: center;

    padding: 40px 20px;
}


header h1 {
    margin: 0 0 10px;

    font-size: 32px;
}


main {
    max-width: 650px;

    margin: 40px auto;

    padding: 0 20px;
}


.product,
.order,
.result {

    background: white;

    padding: 30px;

    margin-bottom: 25px;

    border-radius: 12px;

    box-shadow:
        0 4px 15px
        rgba(0, 0, 0, 0.12);
}


.product {
    text-align: center;
}


.product img {

    width: 100%;

    max-width: 450px;

    border-radius: 10px;
}


.normal-price {

    color: #777;

    text-decoration:
        none;
}


.normal-price span {

    text-decoration:
        line-through;
}


.sale-price {

    color: #e60012;

    font-size: 48px;

    font-weight: bold;
}


.discount {

    display: inline-block;

    background: #ffcc00;

    padding: 8px 20px;

    border-radius: 30px;

    font-weight: bold;
}


label {

    display: block;

    margin-bottom: 20px;

    font-weight: bold;
}


input[type="text"],
input[type="email"],
input[type="number"] {

    display: block;

    width: 100%;

    margin-top: 8px;

    padding: 13px;

    border:
        1px solid #ccc;

    border-radius: 6px;

    font-size: 16px;
}


.payment {

    font-weight: normal;
}


.payment input {

    display: inline-block;

    width: auto;
}


button {

    width: 100%;

    padding: 17px;

    border: none;

    border-radius: 8px;

    background: #e60012;

    color: white;

    font-size: 18px;

    font-weight: bold;

    cursor: pointer;
}


button:hover {

    background: #b8000e;
}


.result {

    display: none;
}


.bank {

    background: #f3f3f3;

    padding: 20px;

    border-radius: 8px;

    line-height: 1.8;
}


.warning {

    color: #e60012;

    font-weight: bold;
}


footer {

    margin-top: 50px;

    padding: 25px;

    text-align: center;

    background: #333;

    color: white;
}
